#spinner-curtain{
    position: fixed;
    top: 80px;
    left: 0;
    height: calc(100vh - 80px);
    width: 100vw;
    background: $dark-blue;
    z-index: 10;
    #spinner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% - 80px)) rotate(0deg);
        animation: spin 1.5s linear infinite, blink 1s ease-in infinite;
        @keyframes spin {
            100%{
                transform: translate(-50%, calc(-50% - 80px)) rotate(359deg);
            }
        }
        @keyframes blink {
            50%{
                opacity: 0.5;
            }
            100%{
                opacity: 0.99;
            }
        }
    }
    @media screen and (min-width: 992px){
        top: 120px;
        height: calc(100vh - 120px);
    }
}